#auth-password-step-pane{
    & > HBox{
        -fx-spacing: 8.7;
    }
    #auth-password-step-pane-header{
        -fx-max-width: 500;
        -fx-pref-width: 500;

        & > HBox{
            -fx-alignment: CENTER_LEFT;
            -fx-pref-width: 500;
            -fx-spacing: 8.7;


            Region{
                -fx-pref-height: 30;
                -fx-pref-width: 255;
            }
            .jfx-rippler{
                -jfx-rippler-fill: ce-yellow-hover;

                #btn-change-user{
                    -fx-padding: 15;

                    .glyph-icon{
                        -glyph-size: 49.5;
                        -fx-text-alignment: CENTER;
                    }
                }
            }
        }
    }
    #btn-login{
        -jfx-button-type: RAISED;
        -fx-max-width: 250;
    }
    #txt-password{
        -jfx-label-float: TRUE;
    }
}
