.sidemenu, .sidemenu .jfx-scroll-pane,
.sidemenu-pane{
    -fx-background-color: ce-red;
    -fx-max-width: 360;
    -fx-min-width: 360;
    -fx-pref-width: 360;
}
.sidemenu .jfx-scroll-pane .main-header{
    -fx-background-image: url("/images/main/logo-red-md-240x124.png");
    -fx-background-repeat: NO-REPEAT;
    -fx-background-position: 85% 15%;
}
.sidemenu .jfx-scroll-pane .condensed-header{
    -fx-background-color: transparent;
    visibility: hidden;
}
.sidemenu-item{
    -fx-background-color: ce-red;
    -fx-fill: ce-white;
    -fx-text-fill: ce-white;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 1.5em;
    -fx-padding: 0.85em 0em;
    -fx-pref-height: 55;
    -fx-pref-width: 350;
}
.sidemenu-item-highlighted{
    -fx-background-color: ce-yellow;
    -fx-fill: ce-red;
    -fx-text-fill: ce-red;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 1.5em;
    -fx-padding: 0.85em 0em;
    -fx-pref-height: 55;
    -fx-pref-width: 350;
}
.sidemenu-item .label{
    -fx-fill: ce-white;
    -fx-text-fill: ce-white;
    -fx-padding: 0 0 0 1.25em;
}
.sidemenu-item-highlighted .label{
    -fx-fill: ce-red-hover;
    -fx-text-fill: ce-red-hover;
    -fx-padding: 0 0 0 1.25em;
}
.sidemenu-item GridPane,
.sidemenu-item-highlighted GridPane{
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 310;
    -fx-max-width: 310;
}
.sidemenu-item GridPane HBox,
.sidemenu-item-highlighted HBox{
    -fx-alignment: BOTTOM_LEFT;
}
.sidemenu-item GridPane .single-icon .glyph-icon,
.sidemenu-item-highlighted GridPane .single-icon .glyph-icon{
    -glyph-size: 22pt;
}
.sidemenu-item GridPane .combined-icon .glyph-icon,
.sidemenu-item-highlighted GridPane .combined-icon .glyph-icon{
    -glyph-size: 22pt;
}
.sidemenu-item GridPane .combined-icon .secondary-icon,
.sidemenu-item-highlighted GridPane .combined-icon .secondary-icon{
    -glyph-size: 12pt;
}
.sidemenu-item .glyph-icon{
    -fx-text-fill: ce-yellow;
    -fx-fill: ce-yellow;
    -glyph-size: 22pt;
}
.sidemenu-item-highlighted .glyph-icon{
    -fx-text-fill: ce-red;
    -fx-fill: ce-red;
    -glyph-size: 22pt;
}
.sidemenu-item .jfx-rippler{
    -jfx-rippler-fill: ce-yellow;
}
.sidemenu-item-highlighted .jfx-rippler{
    -jfx-rippler-fill: ce-red-hover;
}
.separator{
    -fx-background-color: ce-yellow;
    -fx-opacity: .55;
}
/* Main Side Menu */
.sidemenu-item-container{
    -fx-max-height: 50;
}
#main-sidemenu-user-pane{
    -fx-padding: 45 20 20 20;
}
.main-sidemenu-user-pane-text{
    -fx-text-fill: ce-white;
    -fx-fill: ce-white;
    -fx-font-size: 1.1em;
}
#main-sidemenu-user-icon{
    -glyph-size: 50pt;
    -fx-fill: ce-background;
}
#main-sidemenu-user-name{
    -fx-font-weight: BOLD;
    -fx-padding: 0 0 2.5 0;
}
