.root{
    /*Default colors*/
    ce-red: #e74c3c;
    ce-red-hover: #e53f2e;
    ce-yellow: #f1c40f;
    ce-yellow-hover: #ffcc00;
    ce-white:#ecf0f1;
    ce-black:#333;
    ce-background:#ddd;
    ce-text-color:#595959;
    ce-border-color:#b1b1b1;
    /*App fonts*/
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    /*Highlighting color*/
    -fx-accent: ce-yellow;
}
.jfx-button{
    -fx-text-fill: ce-red;
    -fx-fill: ce-red;
    -fx-font-weight: normal;
    -fx-graphic-text-gap: 15;
    -fx-content-display: right;
}
.jfx-button .glyph-icon{
    -fx-text-fill: ce-red;
    -fx-fill: ce-red;
}
.jfx-text-field{
    -fx-text-fill: ce-white;
    -jfx-focus-color: ce-yellow-hover;
    -jfx-unfocus-color: ce-yellow;
    -fx-prompt-text-fill: ce-yellow;
}
.jfx-password-field{
    -fx-text-fill: ce-white;
    -jfx-focus-color: ce-yellow-hover;
    -jfx-unfocus-color: ce-yellow;
    -fx-prompt-text-fill: ce-yellow;
}
.jfx-rippler{
    -fx-cursor: hand;
}
.glyph-icon{
    -fx-fill: ce-yellow-hover;
}
.context-menu {
    -fx-background-color: ce-white;
    -fx-text-fill: ce-text-color;
}
.menu-item .label{
    -fx-font-size: 13pt;
}
.error .label {
    -fx-font-size: 10pt;
    -fx-text-fill: ce-white;
    -fx-translate-y: -4.5;
}
.error .glyph-icon{
    -fx-fill: ce-white;
}
.tooltip{
    -fx-font-size: 10pt;
}
.jfx-drawer-side-pane,
.jfx-scroll-pane .scroll-pane,
.jfx-scroll-pane .viewport{
    -fx-background-color: ce-red;
}
.scroll-bar{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2.35em;
}
.scroll-bar:horizontal .track-background,
.scroll-bar:vertical .track-background{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
	-fx-padding: 0;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(ce-yellow-hover, 30%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
